<head>
  <meta charset="UTF-8">
  <title>Cluster</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
	{{!-- <script src="https://kit.fontawesome.com/a81368914c.js"></script> --}}
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

        {{{ body }}}


</body>


</html>