<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/941d116b7a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/group.css">
<link rel="stylesheet" href="/css/user.css">



<button id="home">Home</button>
<section class="card user groupHeader">
 <div class="groupHeaderDiv">
{{#if group_name}}
<h1 id="group">{{group_name}}</h1>

<h3>{{group_name}} Posts!</h3>
{{/if}}

{{#if groupId}}
<h1>{{groupId}}</h1>

<h3>{{groupId}} Posts!</h3>
{{/if}}


  </div>
</section>

<button class="makePB bn5 js-modal-trigger" data-target="modal-js-example">
  
  Create a Post for this group!
</button>

        <div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <h1>Create Post</h1>
<input  class="postBox" type="text" id="post">
    <a class="bn5"><button class="hid" role="button" id="post-timeline">POST</button></a>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<section class="card user groupPagePost">
    {{#each posts as |post|}}
    {{> groupposts }} 
    
    {{/each}}
</section>

<script src="/js/group.js"></script>