<button id="home">Home</button>

{{#if group_name}}
<h1 id="group">{{group_name}}</h1>

<h3>{{group_name}} Posts!</h3>
{{/if}}

{{#if groupId}}
<h1>{{groupId}}</h1>

<h3>{{groupId}} Posts!</h3>
{{/if}}
<button class="js-modal-trigger" data-target="modal-js-example">
  Create a Post for this group!
</button>
        <div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <h1>Create Post</h1>
<input  class="postBox" type="text" id="post">
    <a class="bn5"><button class="hid" role="button" id="post-timeline">POST</button></a>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>

    {{#each posts as |post|}}
    {{> groupposts}}
    {{/each}}


<script src="/js/group.js"></script>