
<link rel="stylesheet" href="/css/home.css">

<header class="homeHeader">
    <nav>
        <ul class="headerNav">
            <li class="homeNavTitle">CLUSTER</li>
            <li class="homeNavLogo">LOGO</li>
            <li class="homeNavTheme"><button type="button" class="themeSelector">THEME SELECTOR</button> <button id="logout">Logout</button></li>
        </ul>
    </nav>
</header>
<div id="sectionContainer" class="sectionContainer">
    <section class="homeSections  sideSections sectionLeft">
        <button type="button" class="groupBackBtn hidden" id="backGroups">BACK</button>
        <h1>Groups</h1>
        {{!-- INSERT CREATED / JOINED GROUPS BELOW --}}
        <ul id="groupList">
            {{#each groups as |group|}}
            {{> groups}}
            {{/each}}
        </ul>
    </section>
    <div id="user-profile">
        <button id="user"></button>
    <input type="text" id="post">
    <button id="post-timeline">Post</button>

    </div>
    <section class="homeSections">
        <button type="button" class="hidden" id="backTimeline">BACK</button>
        <h1>Timeline</h1>
        <div id="timeline">
    {{#each posts as |post|}}
    {{> timeline}}
    {{/each}}

        </div>
    </section>
    <section class="homeSections  sideSections sectionRight">
        <button type="button" class="backFriends hidden" id="backFriends">BACK</button>
        <h1>Friends</h1>
        <ul id="friendsList">
            <li class="friendName">Kirby</li>
            <li class="friendName" >Samus</li>
            <li class="friendName">Link</li>
            <li class="friendName">Mario</li>
            <li class="friendName">Sonic</li>
            <li class="friendName">Terry</li>
            <li class="friendName">Megan-Man</li>
            <li class="friendName">MewTwo</li>
            <li class="friendName">Donkey Kong</li>
            <li class="friendName">Pac-Man</li>
            <li class="friendName">Kirby</li>
        </ul>
    </section>
</div>

<script src="js/logout.js"></script>
<script src="js/timeline.js"></script>
<script src="js/home.js"></script>


