<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/941d116b7a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/home.css">



<header class="homeHeader">
    <nav>
        <ul class="headerNav">
            
            <li class="userProfileNav">
            <div class="userProfile" id="user-profile">
                <img class="profileImg" id="profileImage" src="../img/mando.png" alt="">
                <button class="bn5 userDirectProfile" id="user">{{user}}</button>
              
    
    </div>
            </li>
            <li class="homeNavTitle"><img  id="clust" class="clusLogo" src="../img/clusterlogo.png"></li>
            
            <li class="homeNavTheme"><button type="button" class="themeSelector bn5">THEME SELECTOR</button> <button class="bn5" id="logout">Logout</button></li>
        </ul>
    </nav>
</header>



<div id="sectionContainer" class="sectionContainer">
    <section class="homeSections  sideSections sectionLeft">
        <button type="button" class="groupBackBtn hidden" id="backGroups">BACK</button>
        <h1><i class="hoverSearchGroup js-modal-trigger groupAdd fa-solid fa-square-plus" title="Create a Group!" data-target="modal-js-example"></i>Groups<i class="hoverAddGroups js-modal-trigger magGlass fa-solid fa-magnifying-glass" title=" Search for a Group!" data-target="modal-js-example2"></i></h1>
        
        <div id="modal-js-example" class="modal">
  <img class="modalBackgroundImage" src="../img/ModBG2.png">

   <div class="">
    <div class="postModBox">
      <button id="closeBtn" class="delete modal-close is-large" aria-label="close"></button>
      <h1>Create Group</h1>
      <input id="group-name" placeholder="Name of Group" type="text">
      <input id="paid" type="checkbox">
      <input id="cost" placeholder="How much does you group cost to join? (In ETH)" type="text">
     
    </div>
     <button class="bn5 modSub createGroup" id="create-group">Create Group</button>
  </div>

  
</div>

<div id="modal-js-example2" class="modal">
  <img class="modalBackgroundImage" src="../img/ModBG2.png">

  <div class="">
    <div class="postModBox">
      <button id="closeBtn" class="delete modal-close is-large" aria-label="close"></button>
      <h1>SEARCH GROUP</h1>
      <input type="text" placeholder="Search for groups to join!"id="search-group">
           
    </div>
     <button class="bn5 modSub" id="submit-search-group">SUBMIT</button>
  </div>

</div>



    

        
        

  







        <ul id="groupList">
            {{#if groups}}
            {{#each groups as |group|}}
            {{> groups}}
            {{/each}}
            {{/if}}



            {{#each searchGroups as |group|}}
            {{> findgroups}}
            {{/each}}

        </ul>
    </section>
    
    <section class="homeSections">
        {{!-- <button type="button" class="hidden" id="backTimeline">BACK</button> --}}
        <h1></h1>
          <div id="centerBox" class="centerBox">
    {{!-- <input   class="postBox" type="text" id="post"> --}}
    <a class="bn5 js-modal-trigger" data-target="modal-js-example3"><button class="hid" role="button"></button>POST</a>
    </div>
    <div id="modal-js-example3" class=" modal">
  <img class="modalBackgroundImage" src="../img/ModBG2.png">

  <div  class="">
    
    <div class="postModBox">
      <button id="closeBtn" class="delete modal-close is-large" aria-label="close"></button>
      <h1>MAKE A POST</h1>
      <input id="post" placeholder="Type anything!" type="text">
      
    </div>
    <button class="bn5" id="post-timeline">POST</button>
    
  </div>
 
    </div>
        <div id="timeline">
    {{#each posts as |post|}}
    {{> timeline}}
    {{/each}}

        </div>
    </section>
    <section class="homeSections  sideSections sectionRight">
        
        
           
            
        <div id="modal-js-test" class="modal">
          <img class="modalBackgroundImage" src="../img/ModBG2.png">
            <div class="">
                <div class="postModBox">
                  <button id="closeBtn" class="delete modal-close is-large" aria-label="close"></button>
                    <h1>Add Friend</h1>
                    <input id="friendName" placeholder="Enter a Username" type="text">
                    
                </div>
                <button class="bn5 modSub" id="add-friend" >Add Friend</button>
            </div>
            
        </div>
          <div id="modal-js-run" class="modal">
          <img class="modalBackgroundImage" src="../img/ModBG2.png">
            <div class="">
                <div class="postModBox">
                  <button id="closeBtn" class="delete modal-close is-large" aria-label="close"></button>
                    <h1>Look up any user!</h1>
                    <input id="search-friend" placeholder="Enter a Username" type="text">
                    
                </div>
                <button class="bn5 modSub" id="submit-search-friend">Search</button>
            </div>
            
        </div>
       

        <h1><i class="hoverAddFriends addFriendBtn fa-solid fa-user-plus js-modal-trigger" data-target="modal-js-test" title="Add a new friend!"></i>Friends<i title="Search for User!" class="hoverSearchFriends lookFriendBtn fa-solid fa-magnifying-glass js-modal-trigger" data-target="modal-js-run"></i></h1>
            <ul id="friendList">
                {{#each friends as |friend|}}
                {{> friends}}
                {{/each}}
            </ul>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/timeline.js"></script>
<script src="/js/home.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/join-group.js"></script>

