
<link rel="stylesheet" href="/css/home.css">


<header class="homeHeader">
    <nav>
        <ul class="headerNav">
            
            <li class="userProfileNav">
            <div class="userProfile" id="user-profile">
                <img class="profileImg" id="profileImage" src="../img/Ninja.png" alt="">
                {{!-- <button class="userDirectProfile" id="user"></button> --}}
              
    
    </div>
            </li>
            <li class="homeNavTitle">CLUSTER</li>
            <li class="homeNavTheme"><button type="button" class="themeSelector">THEME SELECTOR</button> <button id="logout">Logout</button></li>
        </ul>
    </nav>
</header>





<div id="sectionContainer" class="sectionContainer">
    <section class="homeSections  sideSections sectionLeft">
        <button type="button" class="groupBackBtn hidden" id="backGroups">BACK</button>
        <h1>Groups</h1>
        
        
        


<button class="js-modal-trigger" data-target="modal-js-example">
  Create Group
</button>
        <div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <h1>Create Group</h1>
      <input id="group-name" placeholder="Enter your group name!" type="text">
      <input id="paid"  title="Would you like a paid group? (ONLY FOR METAMASK USERS)" type="checkbox">
      <input id="amount-to-pay" placeholder="How much does you group cost to join? (In ETH)" type="text">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>







        {{!-- INSERT CREATED / JOINED GROUPS BELOW --}}
        <ul id="groupList">
            <li class="box1 groupName">
                {{!-- <div class="box">
	
</div> --}}
                <h3><a class="groupLink">Bahama Boys</a></h3>
                <span class="groupMembers">3 members</span>
            </li>
            
            <li class="box1 groupName">
                <h3><a class="groupLink" >Mother-Forkers</a></h3>
                <span class="groupMembers" >5 members</span>
            </li>

            <li class="box1 groupName">
                <h3><a class=" groupLink">Get the Bag</a></h3>
                <span class="groupMembers">4 members</span>
            </li>

            <li class="box1 groupName">
                <h3><a class="groupLink">Coders United</a></h3>

                <span class="groupMembers">9 members</span>
            </li>

            <li class="box1 groupName">
                <h3><a class="groupLink">UCF</a></h3>
                <span class="groupMembers">30 members</span>
            </li>

            <li class="box1 groupName">
                <h3><a class="groupLink" >Nexus</a></h3>
                <span class="groupMembers">6 members</span>
            </li>
            <li class="box1 groupName">
                <h3><a class="groupLink">Anime n Chill</a></h3>
                <span class="groupMembers">69 members</span>
            </li>
             <li class="box1 groupName">
                <h3><a class="groupLink">Special Group</a></h3>
                <span class="groupMembers">11 members</span>
            </li>
             <li class="box1 groupName">
                <h3><a class="groupLink">Golfers</a></h3>
                <span class="groupMembers">15 members</span>
            </li>
             <li class="box1 groupName">
                <h3><a class="groupLink">WebDevs</a></h3>
                <span class="groupMembers">19 members</span>
            </li>
        </ul>
    </section>
    
    <section class="homeSections">
        <button type="button" class="hidden" id="backTimeline">BACK</button>
        <h1></h1>
          <div id="centerBox" class="centerBox">
    <input  class="postBox" type="text" id="post">
    <a class="bn5"><button class="hid" role="button" id="post-timeline"></button>POST</a>
                </div>
        <div id="timeline">
    {{#each posts as |post|}}
    {{> timeline}}
    {{/each}}

        </div>
    </section>
    <section class="homeSections  sideSections sectionRight">
        <button type="button" class="backFriends hidden" id="backFriends">BACK</button>
        <h1>Friends</h1>
        
            
            <ul id="friendList">
            <li class="box1 friendName">
                {{!-- <div class="box">
	
</div> --}}
                Samus
            </li>
            <li class="friendName box1">Link</li>
            <li class="friendName box1">Mario</li>
            <li class="friendName box1">Sonic</li>
            <li class="friendName box1">Terry</li>
            <li class="friendName box1">Megan-Man</li>
            <li class="friendName box1">MewTwo</li>
            <li class="friendName box1">Donkey Kong</li>
            <li class="friendName box1">Pac-Man</li>
            <li class="friendName box1">Kirby</li>
        </ul>
    </section>
</div>

<script src="js/timeline.js"></script>
<script src="js/home.js"></script>
<script src="js/logout.js"></script>

