<img class="cosmic" src="img/cosmic.gif">
	<div class="container">
		<div class="logo">
			<img src="/img/clusterlogo.png">
		</div>
		<div class="login-content">
				<h2 class="title">Cluster</h2>
				<h1 class="slogan">Reach out and touch the stars</h1>
           		   <div class="div">
           		   		<button id="login">Log in</button>
           		   </div>
           		<div class="input-div pass">
           		   <div class="div">
           		    	<button id="signup">Sign Up</button>
            	   </div>
            	</div>
        </div>       
    </div>
	<script src="./js/routes.js"></script>
