<form class="columns is-centered pt-6"id="sine1">
  <div class="column is-one-third has-text-centered">
    <div class="field pt-6">
  <p class="control has-icons-left has-icons-right">
    <label class="label">Username</label>
    <input class="input" id="username" placeholder="">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <label class="label">Password</label>
    <input class="input" type="password" id="password" placeholder="">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
  <button id="submit-login">Log In</button>
  <button id="metamask">METAMASK ICON HERE</button>
  {{!-- <button id="signup">Sign up</button> --}}
</div>
</div>
</form>
<img class="cosmic" src="img/cosmic.gif">
<script src="./js/login.js"></script>
