<link rel="stylesheet" href="/css/post.css">
<header id="nav_header">

     <button id="home">Home</button>
     <h1>Cluster</h1>
    <img class="logo" src="/img/clusterlogo.png">
 
</header>
<section class="post card">
 <header id="user">{{posted_by}}</header>

    <div class="card-body mt-3 is-8 is-variable has-text-centered">
      <p> {{post_content}}</p>
    </div>
  </a>

<button class="bn5 js-modal-trigger" data-target="modal-js-example">Comment</button>
  </section>
  


       <div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
<input id="comment-data" type="text" placeholder="Comment on {{posted_by}}'s post">
    <a class="bn5"><button class="hid" role="button" id="comment">COMMENT</button></a>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<section class="comments">
    {{#each comments as |comment|}}
     <br> 
    {{> comments}}
    {{/each}}
</section>
<script src="/js/post.js"></script>