<form class="columns is-centered pt-6"id="sine">
  <div class="column is-one-third has-text-centered">
<div class="field pt-6">
  <label class="label">Create Username</label>
  <div class="control">
    <input id="username" class="input" type="username" placeholder="JohnAppleseed">
  </div>
</div>

<div class="field">
  <label class="label">Password (8 Characters Minimum) </label>
  <div class="control">
    <input id="password" class="input" type="Password" placeholder="Password123">
  </div>
</div>

<div class="field">
  <label class="label">Confirm Password</label>
  <div class="control">
    <input id="confirm-password" class="input" type="Password" placeholder="Password123">
  </div>
  <div class="l3">
  <button id="signup-submit">Sign Up</button>
  <button id="metamask"><img src="img/metaicon.png"></button>
  </div>
</div>
</div>
</form>
<img class="cosmic" src="img/cosmic.gif">
<script src="./js/signup.js"></script>
