<nav class="pt-5 pl-5 pr-5 custom1">
  <a class="logpage"href="http://localhost:3001">⬅ Back to Homepage</a>
  <a class="logpage" href="login">Go to login ➡</a>
</nav>
<form class="columns is-centered pt-6"id="sine">
  <div class="column is-one-third has-text-centered">
<div class="field pt-6">
  <label class="label">Create Username</label>
  <div class="control">
    <input id="username" class="input" type="username" placeholder="JohnAppleseed">
  </div>
</div>

<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input id="password" class="input" type="Password" placeholder="Password123">
  </div>
</div>

<div class="field">
  <label class="label">Confirm Password</label>
  <div class="control">
    <input id="confirm-password" class="input" type="Password" placeholder="Password123">
  </div>
  <button id="signup-submit">Sign Up</button>
</div>
</div>
</form>
<img class="cosmic" src="img/cosmic.gif">
<script src="./js/signup.js"></script>
