<link rel="stylesheet" href="/css/user.css">
<header id="nav_header">

     <img src="/img/clusterlogo.png" id="home">
     <h1>Cluster</h1>
      <i id="add-friend" class="fa-solid fa-user-plus"></i>

 
</header>
<section class="card user">


<h3><span id="user">{{username}}</span>'s Posts</h3>

    {{#each posts as |post|}}
    {{> user-posts}}
    {{/each}}
</section>
<script src="/js/user.js"></script>
<script src="https://kit.fontawesome.com/941d116b7a.js" crossorigin="anonymous"></script>