<link rel="stylesheet" href="/css/user.css">

<button id="home">Home</button>
<section class="card user"
    <h1>{{username}}</h1>

<h3>{{username}} Posts!</h3>

    {{#each posts as |post|}}
    {{> user-posts}}
    {{/each}}
</section>
<script src="/js/user.js"></script>