
#post-timeLine {
  cursor: pointer;
}

.fadein {
  display: block;
  opacity: 1;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.fadein {
  opacity: 0;
}
input {
  font-size: 30px;
}
html {
  width: 100%;
}
body {
  width: 100%;
  background-image: url("../img/colorBG.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.homeHeader {
  color: rgb(167, 95, 255);
  font-weight: 500;
}

.headerNav {
  display: flex;
  height: 15vh;
  align-items: center;
  font-size: 3em;
}

.headerNav > li {
  text-align: center;
  flex: 1 0 15%;
  /* max-width: 35%; */
  color: rgb(153, 75, 248);
  position: relative;
}

.postButt {
  margin-left: 5%;
  max-width: 20%;
}
.postBox {
  border-radius: 5px;
  margin-right: 2%;
  position: relative;
  width: unset;

  max-height: 8vh;
  height: 8vh;
}
.userProfile {
  
  padding-right: 2%;
  font-size: 1.5em;
 max-width: fit-content;
  display: flex;
  height: max-content;
 justify-content: center;
  flex-wrap: nowrap;
  margin-left: 10%;
  margin-top: 15%;
 align-items: center  ;
  border: 1px solid rgb(79, 216, 243);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transform: skew(2deg, 2deg) ;

  text-align: center;
  box-shadow: rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -10px 10px,
    rgb(0, 0, 0) -15px 15px, rgba(10, 0, 0, 0.124) -20px 20px,
    rgba(0, 0, 0, 0.33) -25px 25px;
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  position: relative;

  background-color: rgba(225, 225, 225, 0.161);
}
.userDirectProfile {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  font-size: .4em;
  max-height: 8vh;
   padding: 0% !important;
   align-items: center;
  
 
  overflow: visible;
  text-align: center !important;
}

.centerBox {
  justify-content: center;
  display: flex;
  width: 80%;
  margin: 0%;
  padding-top: 5%;
  position: relative;
}
.profileImg {
  position: relative;
  
  flex: 1 1 auto;
  max-height: 12vh;
  height: 12vh;
 
;
  z-index: 0;
}

.headerNav > .homeNavTitle {
  width: 80%;
  height: 80%;
}
.headerNav > .homeNavTitle > img {
  transform: rotate(1.5deg);
  transition: all 0.5s ease-in;
  position: relative;
  margin-top: -7%;
}

.themeSelector {
  max-width: 15vw;
}

.sectionContainer {
  max-height: max-content;
  display: flex;
  justify-content: center;
  gap: 2%;

  margin-bottom: 0%;
}

.homeSections {
  max-width: 100vh;
  max-height: 100vh;

  /* background-color: rgba(116, 116, 116, 0.575); */
  overflow: scroll;
  flex: 1 1 30%;
}
.homeSections > * {
  font-size: 1.8.0em;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  text-align: center;
  margin: 4%;
}
.homeSections > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  
  position: relative;
margin-top: 20%;
margin-bottom: -20%;
  /* text-decoration: underline; */
  position: sticky;
}
.hid {
 cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 5%;
  width: 90%;
  height: 85%;
  bottom: 8%;
  background-color: rgba(229, 88, 88, 0);
  border: none;
}

.homeSections > ul > li:hover {
  /* border: 1px groove gray; */
  background-image: url("../img/tileBG.gif");
transition: all .5s ease-in;
  background-size: cover;
  backdrop-filter: blur(50px);
}
#centerBox {
  margin: 0%;
  margin-left: 10%;
}
.hidden {
  display: none;
}
.sectionContainer > section {
  color: rgb(198, 160, 245);
}
.sideSections {
  max-width: 25%;
 
}
/* .sectionLeft {
  /* border-top-left-radius: 80px 80px; */
/* } */
.sectionRight {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* border-top-right-radius: 80px 80px; */
}

.backFriends {
  margin: 0%;
  margin-top: 5%;
  margin-left: 5%;
}

.sectionLeft > h1 {
  color: rgba(255, 83, 255, 0.845);
  border-radius: 2px;
  transform: skew(2deg, 2deg);
  font-size: 1.8em;
  box-shadow: rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -10px 10px,
    rgb(0, 0, 0) -15px 15px, rgba(10, 0, 0, 0.124) -20px 20px,
    rgba(0, 0, 0, 0.33) -25px 25px;
  backdrop-filter: blur(10px);
  border: 2.5px solid rgba(255, 83, 255, 0.694);
  background: rgba(176, 126, 247, 0.14);
  -webkit-backdrop-filter: blur(7.2px);
}
.sectionRight > h1 {
  font-size: 1.8em;
  color: rgb(79, 216, 243);
  border-radius: 2px;
  transform: skew(-2deg, -2deg);
  backdrop-filter: blur(10px);
  border: 2.5px solid rgb(79, 216, 243);
  background: rgba(176, 126, 247, 0.14);
  -webkit-backdrop-filter: blur(7.2px);
  box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px, rgb(0, 0, 0) 10px 10px 0px 0px,
    rgb(0, 0, 0) 15px 15px 0px 0px, rgba(21, 0, 0, 0.145) 20px 20px 0px 0px,
    rgba(0, 0, 0, 0.33) 25px 25px 0px 0px;
}
.sectionRight > ul,
.sectionLeft > ul {
  margin-top: 22.5%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.sectionRight > ul {
  margin-top: 23%;
}

.sectionLeft > ul > li {
  border: 2.5px solid rgba(255, 83, 255, 0.409);
  font-size: 2em !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transform: skew(2deg, 2deg);
  flex: 1 0 100%;
  text-align: center;
  box-shadow: rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -10px 10px,
    rgb(0, 0, 0) -15px 15px, rgba(10, 0, 0, 0.124) -20px 20px,
    rgba(0, 0, 0, 0.33) -25px 25px;
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: rgba(225, 225, 225, 0.161);
  background-size: cover;
 

  /* color: rgba(255, 83, 255, 0.865);
  transform: skew(-2deg, -2deg);
  background-image: url(../img/blu5.png);
  background-position: center;
  border: 1px solid rgba(255, 83, 255, 0.374) ; */

  /* border-radius: 16px; */
}
#groupList {
  z-index: 2 !important;
}
#group{
  font-size: 1em !important;
  color: rgba(255, 83, 255, 0.865)
}
.friendName{
  font-size: 2.5em !important;
}

.sectionRight > ul > li {
  cursor: pointer;
  border: 2.5px solid rgba(79, 216, 243, 0.48);
  color: rgb(79, 216, 243);
  border-radius: 8px;
  transform: skew(-2deg, -2deg);
  background: rgba(196, 193, 197, 0.26);
  background-size: cover;
  box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px, rgb(0, 0, 0) 10px 10px 0px 0px,
    rgb(0, 0, 0) 15px 15px 0px 0px, rgba(21, 0, 0, 0.145) 20px 20px 0px 0px,
    rgba(0, 0, 0, 0.33) 25px 25px 0px 0px;
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  flex: 1 0 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 1.5em;

  /* background-image: url(../img/blu5.png);
  background-position: center;
  border: 1px solid rgba(79, 216, 243, 0.5) ;
  border-right: 4px groove rgb(79, 216, 243) ; */
  /* background: rgba(79, 216, 243, 0.603);
  background: linear-gradient(0deg, rgba(79, 216, 243, 0.5) 2%, hsla(0, 6%, 7%, 1) 100%);
  background: -moz-linear-gradient(0deg, rgba(79, 216, 243, 0.483) 2%, hsla(0, 6%, 7%, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(79, 216, 243, 0.46) 2%, hsla(0, 6%, 7%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4FD8F3", endColorstr="#131111", GradientType=1 ); */
  /* backdrop-filter: blur(4.3px);
-webkit-backdrop-filter: blur(4.3px); */
}
.sectionLeft > ul > li > h3 > a {
  color: inherit;
}

.homeSections::-webkit-scrollbar {
  display: none;
}

.groupBackBtn {
  text-align: right;
  position: relative;
  margin-left: 75%;
}
#backTimeLine {
  margin: 0%;
  margin-left: 2%;
  margin-top: 2%;
}

#timeLineForm {
  height: 3vh;
}
input#button {
  width: 134px;
  background: #3e9cbf;
  padding: 8px 14px 10px;
  border: 1px solid #3e9cbf;
  cursor: pointer;
  font-size: 1em;
  font-family: Roboto, sans-serif;

  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);

  -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73,
    0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73,
    0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73,
    0px 10px 5px #999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

input#button:hover,
input#button:focus {
  -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73,
    0px 2px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73,
    0px 2px 5px #999;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73,
    0px 2px 5px #999;
}

.box1 {
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  justify-content: center;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* border-radius: 5px; */
  /* background-color: grey; */
  /* background: inherit; */
}

.sectionRight > ul > .box1:hover {
  border: 0.5px solid rgba(79, 216, 243, 0.206);
  border-right: 1px groove rgba(79, 216, 243, 0.281);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  transition: 0.2s;
  z-index: 10;
}
.sectionLeft > ul > .box1:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  transition: 0.2s;
  z-index: 10;
}

/* .box1:hover::after {
  opacity: 1;
} */

#timeLine {
  font-size: 1.4em;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.419);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100%;
}
/* TIMELINE BUG */
#timeLine > section {
  margin-top: 5%;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 75%),
    0 0 0 1px rgba(0, 0, 0, 0.112);
  background-color: rgba(245, 245, 245, 0);
  padding: 5%;
  font-size: 1em;
  /* text-align: start; */
  display: inline;
  flex: 0 1 content;
  max-height: auto;
  height: fit-content;
  margin-bottom: 5%;
}

#timeline > section::after {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#timeLine > section:hover {
  background: rgba(220, 204, 247, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border: 1px solid rgba(220, 204, 247, 0.34);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.timeline-post > header {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: italic;
  padding-left: 0%;
  text-align: start;
  text-decoration: underline;
  display: inline;
  color: rgb(255, 83, 255);
  font-size: 1em;
}
.timeline-post > header + p {
  color: whitesmoke;
}
.bn5 {
  /* From https://css.glass */
  background: rgba(193, 193, 193, 0.09);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.512);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 3.5px groove rgba(244, 162, 255, 0.407);
  padding: 0.6em 2em;

  outline: none;
  color: rgb(255, 255, 255);
  /* background: #111; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff00c8,
    #4af1f6,
    #00dde4,
    #00a4c1,
    #b1008b,
    #f96bda,
    #fd00c6,
    #7a00ff,
    #00dffd,
    #4af1f6,
    #0ea5c0,
    #ff00c8,
    #f96bda
    
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 40s linear infinite;
  transition: opacity 0.3s ease-in-out;
  
  opacity: 0;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.bn5:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}



.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  zoom: 125%;
  opacity: 1;
}

.bn5:after {
  left: 2%;
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #19191900;
  left: 0;
  top: 0;
  border-radius: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.bn5:active {
  color: rgb(0, 0, 0);
}

.createGroupBtn {
  cursor: pointer;
  border: none;
  position: absolute;

  z-index: 2;
  width: 150px;
  height: 150px;
  background-color: #002aff00;
}
.groupAdd {
  background-color: rgb(10, 7, 0);
  color: rgb(219, 14, 215) !important;
  margin-right: 5%;
}
.groupAdd:hover,
.magGlass:hover,
.addFriendBtn:hover,
.lookFriendBtn:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: all 0.2s ease-in;
}

.magGlass {
  color: rgb(219, 14, 215) !important;

  margin-left: 3.5%;
}
.addFriendBtn {
  color: rgb(79, 216, 243);
  margin-left: -6%;
  margin-right: 5%;
}
.lookFriendBtn {
  color: rgb(79, 216, 243);
  
  margin-left: 5%;
}
#clust {
  margin-top: -10%;
  animation-duration: 1.5s;
  animation-name: slip;
}
@keyframes slip {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.headerNav > .homeNavTheme {
  padding-left: 13%;
  z-index: 0;
}
.hoverSearchFriends:hover:after {
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  line-height: 1.2;
  position: absolute;
  content: attr(title);
  display: inline;
  text-align: center;
  left: 5px;
  top: -77px;
  border-radius: 10px 10px 10px 0px;
  padding: 5px;
  
  border: 1px solid whitesmoke;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(1, 191, 220);
  
}

.hoverAddFriends:hover:after {
  letter-spacing: 1.3px;
  line-height: 1.2;
  font-size: 0.9rem;
  position: absolute;
  content: attr(title);
  display: inline-block;
  right: 15px;
  top: -77px;
  border-radius: 10px 10px 0px 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(1, 191, 220);
  border: 1px solid whitesmoke;
}

.hoverSearchGroup:hover:after {
  letter-spacing: 1.3px;
  line-height: 1.2;
  font-size: 0.9rem;
  position: absolute;
  content: attr(title);
  display: inline-block;
  right: 15px;
  top: -65px;
  border-radius: 10px 10px 0px 10px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 83, 255);
  border: 1px solid whitesmoke;
}
.hoverAddGroups:hover:after {
  letter-spacing: 1.3px;
  line-height: 1.2;
  font-size: 0.9rem;
  position: absolute;
  content: attr(title);
  display: inline-block;
  right: 15px;
  top: -65px;
  border-radius: 10px 10px 0px 10px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 83, 255);
  border: 1px solid whitesmoke;
}

/* .postModalBox{
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/colorBG.jpeg");
} */

.modalBackgroundImage{
  border-radius: 1%;

  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border: 1px solid rgba(58, 58, 58, 0.241);
  
 
  position: absolute;
  opacity: 1;
  width: 30vw;
  height: 25vh;
  max-height: 30vh;
  max-width: 30vw;
  top: 10px;
  animation-duration: 1.5s;
  animation-name: rlip;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 75%), 0 0 0 1px rgb(0 0 0 / 11%)
}
@keyframes rlip {
  0% {
    
    
    opacity: 0.0;
  }

  10% {
    
    
    opacity: 0.0;
  }
  20% {
    
    
    opacity: 0.0;
  }
  30% {
    
    
    opacity: 0.0;
  }
  40% {
    
    
    opacity: 0.0;
  }

  50% {
    
    
    opacity: 0.3;
  }
  60% {
    
    
    opacity: 0.6;
  }
  70% {
    
    
    opacity: 0.7;
  }
  80% {
    
    
    opacity: 0.8;
  }
  90%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}
#post-timeline{
  position: absolute;
  top: 20%;
  right: 47.5%;
  opacity: 1;
  width: 5vw;
  height: 5vh;
  max-height: 30vh;
  max-width: 30vw;
  
  animation-duration: 1.5s;
  animation-name: rlip;
}
.modal-close{
  bottom: 10%;
}
#closeBtn{
  top: 10%;
}

.postModBox{
  
  border: 1px solid rgba(111, 111, 111, 0.329);
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  top: 8%;
  left: 38.5%;
/* margin-bottom: 75%;
margin-left: 2.5%; */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  border-radius: 2.5px;
  
  /* height: 30vh;
  width: 95%; */
  animation-duration: 1.5s;
  animation-name: rlip;
  max-height: 400px;
  max-width: 400px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 75%),
    0 0 0 1px rgba(0, 0, 0, 0.112);
  
  
  
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  position: absolute;
  /* padding-top: 20%; */
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: rgba(225, 225, 225, 0.161);
  background-size: cover;
}

.postModBox::after{
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.postModBox:hover{
  background: rgba(220, 204, 247, 0.29);
  
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border: 1px solid rgba(220, 204, 247, 0.34);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.modSub{
  padding-bottom: 0%;
  padding-top: 0%;
  position: absolute;
    top: 20%;
    right: 48%;
    opacity: 1;
    width: 5vw;
    height: 5vh;
    max-height: 30vh;
    max-width: 30vw;
    animation-duration: 1.5s;
    animation-name: rlip;
}
#create-group{
  top: 23%;
}
#cost{
  font-size: 18px;
  width: 100%;
}

.navBoxHead{
  margin-left: -5%;
}

.postBTN{
  font-size: 2em !important;
}

#logout{
  font-size: .4em;
}

.makeGPrompt{
  display: flex;
}
.makeGPrompt > *{
 flex: 1 1 100% ;
}
.makeCBtn{
  margin-top: -1.5%;
  margin-right: -.5%;
}
.boxo{
  margin-top: -2%;
}
#closeBtn{
  right: -10%;
}



/* button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
} */

@media screen and (max-width: 1250px) {

  .sectionRight > ul,
.sectionLeft > ul{
  font-size: 1em;
  
  
  }


} 

  

