
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
  
  }

input{
    font-size: 20px;
    padding-left: 20px;
    background-color: rgb(218, 218, 218);
    overflow: auto;
    margin-left: 1rem;
    width:400px;
  }

input:focus{
    background-color: #fff;
}

 html{
    width: 100%;
  }
  
body {
    width: 100%;
    background-image: url("../img/colorBG.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
   
.post>.card-body> p{
    color: #fff;
    font-weight: bolder;
    margin-left: 1rem;
    padding: 5px;
    font-size:20px;
}

.card>header{
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}


.post{
    margin: 0%;
    top: 50px;
  }



h3{
  color: white;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 1px;
}


/* #home{
    display: inline-block;
    width: 70px;
    height: 38px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(
      to right,
      #c04ae4,
      #b630b6,
      #391239,
      #66235a
    );
    background-size: 200%;
    font-size: 1rem;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #2993bc;  
} */

/* #home:hover {
    width: 130px;
  } */

.card{
  color: rgba(84, 77, 84, 0.845);
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -10px 10px,
    rgb(0, 0, 0) -15px 15px, rgba(10, 0, 0, 0.124) -20px 20px,
    rgba(0, 0, 0, 0.33) -25px 25px;
  border: 2px solid rgba(127, 189, 228, 0.694);
  background: rgba(95, 93, 93, 0.14);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7.2px); 
  cursor: pointer;
}


.logo {
  width: 100px;
  cursor: pointer;
}

.logo:hover{
  animation:heart 1.25s linear infinite
}
@keyframes heart{
  from{transform:scale(1)}10%{transform:scale(1.2)}
}


#nav_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px ;
  margin-left: 5px;
  background-image: linear-gradient(
    to left,
    #000000,
    #2f5a7d,
    #252525,
    #000000
  );
  background-size: 90%;
  border: 1px solid rgb(30, 30, 30);
  height: 8%;
}

#nav_header>h1{
  color: white;
  font-size: 4rem;
}


#comment{
    display: inline-block;
    width: 121px;
    /* height: 40px; */
    border-radius: 8px;
    outline: none;
    border: none;
    background: #335b88;
    background-size: 190%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
    
}



#comment:hover{
   color: rgba(255, 255, 255, 1);
    width: 121px;
    background: #2993bc;
}

.box{
  background-color: #252525;
  font-family: "Raleway",sans-serif;
}



.bn5{
  display: inline-block;
  width: 121px;
  height: 40px;
  margin-left: 15px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: #335b88;
  background-size: 190%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 15px;
}

.bn5:hover{
  color: rgba(255, 255, 255, 1);
    background: #2993bc;
}


#comment.hid{
  display: inline-block;
  width: 121px;
  /* height: 40px; */
  border-radius: 8px;
  outline: none;
  border: none;
  background: #2993bc;
  background-size: 190%;
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;

}

a.bn5{
  display: inline-block;
  width: 121px;
  height: 40px;
  margin-left: 15px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: #2993bc;
  background-size: 190%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 15px;
}

#comment-data{
    border-radius: 25px;
    
}

#user{
    font-family:  "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    padding-left: 5px;
    margin-left: 5px;
    transition: 0.5s;
}

#user:hover{
  color: #6aacc8;
}









