* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cinzel Decorative", sans-serif;
  overflow: hidden;
}

.cosmic {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  left: 200px;
  min-height: 100vh;
}

.logo img {
  display: flex;
  left: 475px;
  bottom: 50px;
  width: 300px;
  position: relative;
	/* left: 450px;
	bottom: 80px; */
  animation-duration: 2s;
  animation-name: slideImg;
}

.login-content h2 {
  margin: 15px 0;
  color: #fff;
  left: 100px;
  font-size: 5rem;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  25% {
    left: 2500px;
    color: rgba(255, 255, 255, 0);
  }

  100% {
    left: 2500px;
    color: rgb(255, 255, 255);
  }

  from {
    margin-left: 250%;
    width: 300%;
    color: rgba(255, 255, 255, 0);
  }

  to {
    margin-left: 0%;
    width: 100%;
    color: #fff;
  }
}

@keyframes slideImg {
  0% {
    left: 1800px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }


  100% {
    left: 475px;
    opacity: 1;
  }
}
.login-content h2:hover {
  transition: ease-in 1s all;
  color: #e054b4;
}

#login {
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #4e15ab,
    #2d0c60,
    #391239,
    #66235a
  );
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin: 1rem 0;
  cursor: pointer;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 #66235a;
}

#login:hover {
  box-shadow: inset 100px 0 0 0 #66235a;
}

#signup {
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #4e15ab,
    #2d0c60,
    #391239,
    #66235a
  );
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin: 1rem 0;
  cursor: pointer;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 #66235a;
}

#signup:hover {
  box-shadow: inset 100px 0 0 0 #66235a;
}

.input-div.pass {
  margin-bottom: 4px;
}

/* Media Query */
@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .logo img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 2fr;
  }

  .login-content {
    justify-content: center;
  }
}

#signup-submit {
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #4e15ab, #2d0c60, 
    #391239, #66235a);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #66235a;
}

#signup-submit:hover {
    box-shadow: inset 100px 0 0 0 #66235a;
}

.label {
    color: white;
}

input {
    text-align: center;
}
#sine{
    margin: 1rem 0;
    transition: ease-out 0.3s;
}

#submit-login {
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #4e15ab, #2d0c60, 
    #391239, #66235a);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #66235a;
}

#submit-login:hover {
    box-shadow: inset 100px 0 0 0 #66235a;
}

.label {
    color: white;
}

#sine1{
    margin: 1rem 0;
    transition: ease-out 0.3s;
}

.logpage{
  color:white;
  margin: 1rem 0;
  transition: ease-out 0.3s;
}

.logpage:hover{
  color:#66235a;
}

.custom1{
  display: flex;
  justify-content: space-between;
}